<% include ../partials/header %>
<div class="container">
  <div class="row">
    <div class="col-md-7 col-12 mx-auto mt-4">
      <h2 class="text-center">Edit <%= campground.name %></h2>
      <form action="/campgrounds/<%= campground._id %>?_method=PUT" enctype="multipart/form-data" method="POST">
        <div class="form-group">
          <label class="lead text-muted" for="name">Camground name</label>
          <input type="text" class="form-control form-control-lg" id="name" name="name" aria-describedby="nameHelp" value="<%= campground.name %>" required>
        </div>
        <div class="form-group">
          <label class="lead text-muted" for="price">Price</label>
          <input type="Number" class="form-control form-control-lg" id="price" name="price" aria-describedby="priceHelp" min="0.01" step="0.01" value="<%= campground.price %>" required>
        </div>
        <div class="form-group">
          <label class="lead text-muted" for="image">Enter image url</label>
            <input type="file" class="form-control form-control" accept="image/*" id="image" name="image" aria-describedby="imageHelp" placeholder="Enter image url">
        </div>
        <div class="form-group">
          <label class="lead text-muted" for="location">Enter location</label>
          <input type="text" class="form-control form-control-lg" id="location" name="location" aria-describedby="locationHelp" value="<%= campground.location %>" required>
        </div>
        <div class="form-group">
         <label class="lead text-muted" for="description">Example textarea</label>
         <textarea class="form-control form-control-lg" id="description" name="description" rows="5"><%= campground.description %></textarea>
       </div>
        <button type="submit" class="btn btn-primary btn-lg">Save changes</button>
      </form>
    </div>
  </div>
</div>
<% include ../partials/footer %>
<% include ../partials/scripts %>
